/* ---------- CSS RESET ----------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- CSS VARIABLES ----------*/
:root {
    --black: #0D0D0D;
    --gray: #F2F2F2;
    --blue-green: #7ABFBF;
    --lt-blue: rgba(122, 191, 191, .5);
    --orange: #EB5428;

    --head-font: "Bebas Neue", sans-serif;
    --body-font: "Montserrat", sans-serif;
}


* {
  box-sizing: border-box;
}

/* ---------- MAIN STYLES ----------*/
body {
  margin-top: 100px;
  background-color: var(--gray);
  line-height: 1.2;
}

header, main, nav, footer {
  width: 100%;
}

img {
  max-width: 100%;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

/* ---------- GIVEN STYLES ----------*/
h1, h2, h3, nav a, nav span, menu li, #social li, footer, footer section:last-child p {
  font-family: var(--head-font);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

p, dd, li, nav, input {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

dt {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

/* ---------- NAV STYLES ----------*/
nav ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: var(--gray);
  width: 100%;
  margin-top: 80px;
}

nav li:nth-child(n+2) a {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--orange);
}

nav li a img {
  width: 200px;
}

nav > label {
  height: 80px;
  width: 100px;
  position: fixed;
  z-index: 4;
  background-color: white;
  padding: 18.5px 30px;
  cursor: pointer;
  display: inline-block;
}

nav > h2 {
  position: absolute;
  visibility: hidden;
}

/* ---------- FORM STYLES ----------*/
nav form {
  width: 100%;
  margin-top: 20px;
}

nav form h3 {
  visibility: hidden;
}

nav form div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--orange);
}

nav form input {
  flex: 1 0;
  border: none;
  height: 50px;
  outline: none;
}

nav form button {
  height: 50px;
  width: 60px;
  border: none;
  background-color: var(--orange);
}

nav form button svg {
  stroke: white;
}

/* ---------- HAMBURGER STYLES ----------*/
nav > label svg{
  stroke: var(--orange);
  transition: 1s;
}

nav > input {
  display: none;
}

/* ---------- HOME STYLES ----------*/
nav ul li:first-child::first-line {
  visibility: hidden;
}

nav ul li:first-child {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  text-align: center;
  cursor: pointer;
  background-color: var(--orange);
  box-shadow: 0px 6px 6px -1px rgba(0,0,0,0.48);
  transition: box-shadow 1s;
}
nav ul li:first-child a{
  padding: 10px;
}

nav ul li:first-child svg {
  width: 100%;
  position: relative;
  top: -10px;
}

/* ---------- PROFILE STYLES ----------*/
nav ul li:last-child {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  z-index: 4;
}

nav ul li:last-child a{
  display: block;
  padding: 17px 30px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

nav ul li:last-child svg {
  stroke: var(--orange);
}

/* ---------- DROPDOWN STYLES ----------*/
nav > input:checked ~ label svg {
  transform: rotate(360deg) scale(1.2);
}

nav > input:checked ~ ul {
  position: fixed;
  max-height:calc(100vh - 80px);
  overflow-y: scroll;
}

nav > input:checked ~ ul li:first-child {
  box-shadow: none;
}

/* ---------- HEADER STYLES ----------*/
header {
  margin-top: 210px;
}

h1 {
  text-align: center;
}

header menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 20px 0;
  line-height: 1;
}

header a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--orange);
  padding: 20px;
}

header p {
  padding: 10px;
}

/* ---------- MAIN STYLES ----------*/
/* ---------- DETAILS STYLES ----------*/
#details h2 {
  text-align: center;
  margin-top: 5px;
}

#details dl{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 5px;
  padding: 10px;
}

/* ---------- INGREDIENTS STYLES ----------*/
#ingredients {
  padding: 10px;
}

#ingredients h2 {
  text-align: center;
}

#ingredients ul {
  list-style-type:square;
  padding: 10px 15px;
}

#ingredients li {
  padding: 5px;
}

/* ---------- DIRECTIONS STYLES ----------*/
#directions h2 {
  text-align: center;
}

#directions ol {
  padding: 10px 10px 10px 25px;
  list-style-type: decimal;
}

#directions li {
  padding: 10px;
}

/* ---------- SIDES STYLES ----------*/
#sides {
  background-color: var(--blue-green);
  padding: 10px;
  margin-bottom: 25px;
}

#sides h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 25px;
}

#sides article {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 1fr auto 1fr;
  column-gap: 20px;
  margin-bottom: 40px;
  height: 110px;
}

#sides h3, #sides p, #sides dl {
  grid-column: 2 / 3;
}

#sides h3 {
  grid-row: 1 / 2;
}

#sides p {
  grid-row: 2 / 3;
  padding-bottom: 4px;
}

#sides dl {
  grid-row: 3 / 4;
}

#sides img {
  grid-column: 1 / 2;
  grid-row: span 3;
  max-width: 100%;
  max-height: 100%;
}

#sides dd::first-line {
  visibility: hidden;
}

#sides dd svg {
  margin-right: 5px;
}

#sides article:first-of-type svg:nth-last-of-type(n + 2),
#sides article:nth-of-type(2) svg:nth-last-of-type(n + 1),
#sides article:nth-of-type(3) svg:nth-last-of-type(n + 2),
#sides article:nth-of-type(4) svg:nth-last-of-type(n + 2) {
  fill: var(--orange);
}

/* ---------- FOOTER STYLES ----------*/
footer {
  background-color: white;
  padding: 10px;
}

footer h2, footer h3 {
  visibility: hidden;
}

footer menu {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

footer menu a {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: var(--orange);
  align-items: center;
  line-height: 1;
}

footer section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section:last-child p {
  order: 4;
}

footer section:last-child img {
  order: 2;
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
}

footer small {
  order: 3;
}

/* ---------- FOCUS STYLES ----------*/
a:focus , button:focus, input:focus {
  outline: 2px solid var(--blue-green);
}

/* ---------- HOVER STYLES ----------*/
nav li:nth-child(n + 2) a:hover, button:hover, input:hover {
  background-color: var(--blue-green);
}

input:hover {
  color: white;
}

a:hover svg{
  stroke: var(--blue-green);
  background-color: none;
}

a:hover {
  color: var(--blue-green);
}

nav label:hover svg {
  transform: rotate(360deg);
}


/* ---------- MEDIA QUERIES ----------*/
@media screen and (min-width: 768px) {
  nav {
    background-color: white;
    box-shadow: 0px 6px 6px -1px rgba(0,0,0,0.48);
    position: fixed;
  }

  nav ul {
    height: 130px;
    max-height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    background-color: white;
  }

  nav li:nth-last-child(n + 2) a {
    height: 100%;
    width: 100px;
  }

  nav > input, nav > label {
    display: none;
  }

  nav ul li:first-child {
    width: 90px;
    left: 0;
    box-shadow: none;
  }

  nav form h3 {
    position: absolute;
  }

  nav form {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px 60px 0 0;
    width: 50%;
  }

  h1 {
    text-align: start;
    padding: 30px 10px 10px 20px;
    background-color: var(--gray);
  }

  header menu {
    background-color: rgba(242,242,242,.7);
    position:absolute;
    width: 100%;
    margin: 0;
  }

  #details dl {
    grid-template-columns: 105px 150px;
    justify-content: center;
    column-gap: 0;
    margin-left: 50px;
  }

  main > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #ingredients {
    flex: 1 0 240px;
  }

  #sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin: 0;
  }

  #sides h2 {
    grid-column: 1 / 3;
  }

  footer h2 {
    max-height: 0;
  }

  footer div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #social {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1280) {
  
}